* {
  box-sizing: border-box;
  direction: ltr;
  margin: 0;
  padding: 0;
}

:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: Young Serif;
  src: url(YoungSerif-Regular.ttf);
}

@font-face {
  font-family: Outfit;
  src: url(Outfit-VariableFont_wght.ttf);
}

body {
  background-color: var(--Stone-100);
  display: flex;
  justify-content: center;
  width: 1440px;
}

img {
  width: 100%;
  border-radius: 16px;
}

h1 {
  color: var(--Stone-900);
  font-family: Young Serif;
  font-weight: 400;
}

h2 {
  color: var(--Brown-800);
  font-family: Young Serif;
  font-weight: 400;
}

h3 {
  color: var(--Rose-800);
  font-family: Outfit;
  font-weight: 600;
}

p {
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
}

table {
  font-family: Outfit;
  font-weight: 600;
}

tr,
td {
  border-bottom: 1px solid var(--Stone-150);
}

.First-list ::marker {
  color: var(--Rose-800);
}

.Second-list ::marker {
  color: var(--Brown-800);
}

.Third-list ::marker {
  color: var(--Brown-800);
}

.container {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 24px;
  border-radius: 16px;
  gap: 20px;
}

.Preparation-time {
  padding: 24px 16px;
  border-radius: 16px;
  background-color: var(--Rose-50);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.First-list {
  margin-left: 20px;
  font-family: Outfit;
  color: var(--Stone-600);
}

.Second-list {
  margin-left: 20px;
  font-family: Outfit;
  color: var(--Stone-600);
  gap: 16px;
}

.Third-list {
  margin-left: 20px;
  font-family: Outfit;
  font-size: 16px;
  list-style: decimal;
  color: var(--Stone-600);
  gap: 16px;
}

.amount{
    color: var(--Brown-800);
    padding-right: 20px;
}

.Nutrition{
    color: var(--Stone-600);
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 400;
}

#last-row{
    border-bottom: 1px none ;
}